#EightBall {
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 2px solid black;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.EightBall-text {
    font-weight: 1000;
    color: white;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.goldenrod {
    background-color: goldenrod;
}

.red {
    background-color: red;
}